@import url(http://fonts.googleapis.com/css?family=Indie+Flower);

html {
	background-image: url(../img/bg.jpg)
}

.content {
	margin: 20px auto;
	padding: 10px;
}

#heading {
	margin: 25px auto;
	min-width: 400px;
	text-align: center;
	font-family: 'Indie Flower', cursive;
	font-size: 50px;
	font-weight: bolder;
	color: #736766;
}

#todocontainer, #widgetscontainer, #appicons, #searchresults {
	margin: 0 auto;
	width: 400px;
}

#todocontainer, #searchresults {
	padding-left: 0px;
	list-style: none;
}

#appicons {
	margin-bottom: 20px;
}

.function {
	padding: 5px;
	margin-right: 5px;
	border-radius: 3px;
}

.function:hover {
	background-color: black;
	color: white;
}

.todoitem {
	clear: both;
	font-family: 'Indie Flower', cursive;
}

.todostatus {
	float:left;
}

.fa-circle-thin {
	color: red;
}

.fa-check-circle {
	color: green;
}

.todotitle {
	font-size: 25px;
	font-weight: bolder;
	padding-left: 15px;
	padding-right: 30px;
	clear: both;
}

.todobody {
	clear: both;
	display: block;
	padding-left: 30px;
	padding-right: 30px;
}

.tododelete {
	float: right;
	color: red;
}

.todostatus, .tododelete {
	margin-top: 10px;
}

.struck {
	text-decoration: line-through 
}

.todoaddtitle, .todoaddbody, .searchbox {
	font-family: 'Indie Flower', cursive;
	float: left;
	background: none;
	padding: 0px;
	border: none;
  	border-bottom: solid 2px;
}

.todoadd, .searchclose {
	margin-top: 12px;
	float: right;
}

.todoaddtitle, .searchbox {
	width: 375px;
	font-size: 25px;
	font-weight: bolder;
}

.todoaddtitle:focus, .todoaddbody:focus, .searchbox:focus {
	outline: none;
}

.todoaddbody {
	clear: both;
	width: 400px;
}